 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello! My name is Bedri Sfarqa, a Kosovar taxi driver. I provide cost-effective, fast, and reliable taxi services all around the region.</p>
                </div>
                <div class="col-lg-4">
                    <p>You can count on me for all your personal and business taxi needs from Pristina to all of Kosovo, Albania, Macedonia, and Montenegro.</p>
                </div>
            </div>
        </div>
    </section>