 <!-- Portfolio Modals -->
 <style>
     .destinations li { background: white; }
     .destinations li:nth-child(odd) { background: #E8E8EE; }

     @media screen and (min-width: 480px) {
        .destinations {
            padding-left:16%;
            padding-right:16%;
        }
     }
 </style>
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body" >
                            <h3>{{ post.title }}</h3>
                            <hr class="star-primary">
                            <br>
                            <p>{{ post.description }}</p>
                            <br>
                            <ul class="list-group text-left destinations">
                                {% for destination in post.destinations %}
                                <li class="list-group-item"><span class="badge">{{ destination.price }}</span><strong>{{ destination.name }}</strong></li>
                                {% endfor %}
                            </ul>

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}